.waterItemActions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.waterAmount {
  color: var(--main);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.waterTime {
  color: rgba(47, 47, 47, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.waterItemContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.waterItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  white-space: nowrap;
  border-radius: 15px;
  padding: 18px 14px;
  width: 149px;
  height: 74px;

  backdrop-filter: blur(16.799999237060547px);
}

.glass {
  white-space: nowrap;
  stroke: var(--accent);
}

.deleteBtn {
  border: none;
  background-color: inherit;
}

.editBtn {
  border: none;
  background-color: inherit;
}

.pencil,
.trash {
  fill: white;
  stroke: #323f47;
}

.editBtn:active,
.editBtn:hover .pencil {
  stroke: var(--accent);
}

.deleteBtn:active,
.deleteBtn:hover .trash {
  stroke: var(--hover-green);
}

.deleteBtn[disabled],
.editBtn[disabled] {
  cursor: auto;
}
.deleteBtn[disabled] .trash,
.editBtn[disabled] .pencil {
  stroke: #99999e;
}

@media screen and (min-width: 768px) {
  .waterItemActions {
    gap: 14px;
  }
  .waterItem {
    gap: 20px;
    width: 192px;
    height: 86px;
    padding: 20px;
  }
  .glass {
    width: 44px;
    height: 45px;
  }
  .pencil {
    width: 16px;
    height: 16px;
  }
  .trash {
    width: 16px;
    height: 16px;
  }
  .waterAmount {
    line-height: 149%;
  }
  .waterTime {
    line-height: 187%;
  }
}
