.waterlist {
  background-color: #f0eff4;
  padding: 40px 20px;
}
.waterlistDay {
  color: #323f47;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.waterlistPortions {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 8px;
}

.horizontalScrollContainer {
  width: 100%;
  margin-bottom: 40px;
}

.horizontalScrollContainer::-webkit-scrollbar {
  height: 8px;
  background-color: #f0eff4;
  width: 100%;
  margin-bottom: 40px;
}

.horizontalScrollContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-text);
}
