.waterdetailedinfo {
  border-radius: 30px;
  height: 770px;
  background: #f0eff4;
  padding: 40px 20px 40px 20px;
}
@media (min-width: 768px) {
  .waterdetailedinfo {
    height: 738px;
    padding: 32px 32px 35px 32px;
  }
}

@media (min-width: 1440px) {
  .waterdetailedinfo {
    width: 672px;
    height: 736px;
    padding: 32px 32px 33px 32px;
  }
}
