.logo {
        position: absolute;
}
.titleLogo {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 1;
letter-spacing: -0.01em;
text-transform: uppercase;
text-align: center;
color: #323f47;
}
        