.welcomesection {
  border-radius: 30px;
  background: #f0eff4;
  margin-bottom: 14px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  height: 411px;
}

.buttons {
  display: flex;
}

.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.subtitle {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.06em;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
  margin-bottom: 32px;
}

.tracker {
  border-radius: 30px;
  padding: 14px 19px;
  width: 116px;
  height: 46px;
  background: #9be1a0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  margin-right: 10px;
}
.tracker:hover{
background-color: #87d28d;
color: #323f47;
}
.tracker:focus{
background-color: #e6e6e6;
border-color:#e6e6e6 ;
color: #bcbcbc;
}

.singUp {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #323f47;
  border-radius: 30px;
  width: 104px;
  height: 46px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}
.singUp:hover{
border-color: #87d28d;
color: #87d28d;
}
.singUp:focus{
border-color: #323f47;
color: #323f47;
}

@media (min-width: 768px) {
  .welcomesection {
    padding: 32px;
    height: 498px;
  }

  .titleSection {
    margin: 46px 32px 18px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 1.5;
  }

  .title {
    font-size: 64px;
    line-height: 1.09375;
  }

  .tracker {
    margin-right: 16px;
    padding: 18px 40px;
    width: 169px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
  }

  .singUp {
    width: 135px;
    height: 60px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1440px) {
  .welcomesection {
    width: 672px;
    height: 736px;
  }

  .titleSection {
    margin: auto 32px;
  }

  .title {
    font-size: 80px;
    line-height: 0.95;
    margin-bottom: 32px;
  }

  .tracker {
    padding: 18px 40px;
    width: 169px;
    height: 60px;
  }
}
