.calendar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    row-gap: 15px;
  }
}
@media (min-width: 1440px) {
  .calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    row-gap: 15px;
  }
}

.calendarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: calc((100%) / 7);
  @media (min-width: 768px) {
    width: auto;
  }
}
