.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
  row-gap: 15px;
}

.calendarItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
