/* mobile */
.watermaininfo {
  background-color: #9be1a0;
  position: relative;
  border-radius: 30px;
  min-width: 343px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-image: image-set(
    url(../../img/bottle_for_water_mob_1x.webp) 1x,
    url(../../img/bottle_for_water_mob_2x.webp) 2x
  );
  background-repeat: no-repeat;
  background-size: 262px 335px;
  background-position: calc(100% - 40px) 50px;
}
.logoContainer {
  margin-bottom: 78px;
}
.WaterDailyNormaContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 49px;
}
.WaterProgressBarContainer {
  margin-left: 57px;
  margin-right: 56px;
  margin-bottom: 42px;
}
.addWaterBtnContainerMainInfo {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 16px;
}

/* Tablet*/
@media (min-width: 768px) {
  .logoContainer {
    margin-bottom: 101px;
  }
  .watermaininfo {
    min-width: 704px;
    padding: 32px;
    background-image: image-set(
      url(../../img/bottle_for_water_tablet_1x.webp) 1x,
      url(../../img/bottle_for_water_tablet_2x.webp) 2x
    );
    background-size: 374px 477px;
    background-position: calc(100% - 165px) 69px;
  }

  .WaterDailyNormaContainer {
    margin-bottom: 91px;
  }

  .WaterProgressBarContainer {
    margin-left: 173px;
    margin-right: 172px;
    margin-bottom: 22px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .watermaininfo {
    min-width: 672px;
    background-image: image-set(
      url(../../img/bottle_for_water_desktop_1x.webp) 1x,
      url(../../img/bottle_for_water_desktop_2x.webp) 2x
    );
    background-size: 472px 604px;
    background-position: calc(100% - 100px) 92px;
  }

  .WaterDailyNormaContainer {
    margin-left: 32px;
    margin-bottom: 215px;
  }

  .WaterProgressBarContainer {
    margin-left: 156px;
    margin-right: 157px;
    margin-bottom: 56px;
  }
}
