.resetWrapper {
  background-color: var(--background);
  border-radius: 30px;
  padding: 24px 16px 250px 16px;

  @media screen and (min-width: 768px) {
    padding: 32px 32px 302px 32px;

    @media screen and (min-width: 1440px) {
      padding-bottom: 187px;
    }
  }
}

.resetTitle {
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--main);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 106%;
    text-align: center;
  }
}

.resetDesc {
  font-size: 16px;
  line-height: 129%;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 18px;
    line-height: 150%;
    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
  }
}

.resetForm {
  & > .resetLabel,
  .resetInput {
    display: block;
  }
  @media screen and (min-width: 768px) {
    padding: 0px 102px;
    @media screen and (min-width: 1440px) {
      padding: 0px 86px;
    }
  }
}
.resetLabel {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;

  &:first-child {
    margin-bottom: 16px;
  }

  &:nth-child(2) {
    margin-bottom: 32px;
  }

  & > .resetLabelText {
    display: block;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    font-size: 16px;
    line-height: 150%;

    &:first-child {
      margin-bottom: 20px;
    }
  }
}
.resetInput {
  background-color: transparent;
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 16px 16px 16px;
  width: 100%;
  max-height: 50px;

  &:hover,
  &:focus {
    border: 1px solid rgba(47, 47, 47, 0.4);
  }
  &::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: rgba(47, 47, 47, 0.6);
  }
  @media screen and (min-width: 768px) {
    max-height: 56px;
    &::placeholder {
      font-size: 16px;
      line-height: 150%;
    }
    @media screen and (min-width: 1440px) {
      width: 0;
      min-width: 436px;
    }
  }
}

.resetIcon {
  &:hover {
    cursor: pointer;
  }
  display: none;
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 55%;
    right: 16px;
    stroke-width: 1.8px;
    stroke: var(--main-text);
    fill: none;
    @media screen and (min-width: 1440px) {
    }
  }
}

.resetSendBtn {
  border-radius: 30px;
  padding: 16px;
  width: 100%;
  background-color: var(--accent);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main);

  &:hover,
  :focus {
    background-color: var(--hover-green);
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid var(--main);
    opacity: 0.2;
    color: var(--main);
    pointer-events: none;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 150%;
    padding: 18px;
    @media screen and (min-width: 1440px) {
    }
  }
}

.resetInputError,
.resetInputError:focus,
.resetInputError:hover {
  border: 1px solid var(--error);
  color: var(--error);
}

.resetErrorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  color: var(--error);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  @media screen and (min-width: 768px) {
    @media screen and (min-width: 1440px) {
    }
  }
}
