.calendarpagination {
  font-size: 28px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.paginationMonth {
  align-items: center;
  font-size: 16px;
  display: flex;
  gap: 10px;
}
