@import url(../SignInForm/SignInForm.module.css);

.textSignUp {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.5);
}
