.forgotWrapper {
  padding: 24px 16px 233px 16px;
  border-radius: 30px;
  background-color: var(--background);
  @media screen and (min-width: 768px) {
    padding: 32px 32px 318px 32px;
    @media screen and (min-width: 1440px) {
      padding: 32px 32px 179px 32px;
    }
  }
}

.forgotTextWrapper {
  @media screen and (min-width: 768px) {
    padding: 0px 102px;
    @media screen and (min-width: 1440px) {
      padding: 0px 86px;
    }
  }
}

.goBackLink {
  outline: transparent;
  color: rgba(50, 63, 71, 0.4);
  margin-bottom: 20px;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  &:hover,
  &:focus {
    color: var(--main);
    & svg {
      stroke: var(--main);
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    @media screen and (min-width: 1440px) {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}

.forgotIconWrapper {
  display: inline-block;
  margin-right: 8px;
  & > svg {
    stroke: rgba(50, 63, 71, 0.4);
    fill: none;
    rotate: 90deg;
    display: block;
    width: 12px;
    height: 12px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1440px) {
    & > svg {
      width: 15px;
      height: 15px;
    }
    margin-right: 2px;
  }
}

.forgotTitle {
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--main);
  margin-bottom: 22px;
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 106%;
  }
}

.forgotDesc {
  font-size: 16px;
  line-height: 129%;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    @media screen and (min-width: 1440px) {
      font-size: 22px;
      max-width: 436px;
    }
  }
}

.forgotForm {
  @media screen and (min-width: 1440px) {
    max-width: 436px;
  }
}
.forgotLabel {
  position: relative;
  display: block;
  & > span {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 8px;

    line-height: 129%;
    letter-spacing: -0.01em;
  }
  @media screen and (min-width: 768px) {
    & > span {
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.forgotInputEmail {
  background-color: var(--background);
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px 16px 16px 16px;
  width: 100%;
  margin-bottom: 32px;

  &:focus {
    caret-color: rgba(47, 47, 47, 0.6);
    border: 1px solid rgba(47, 47, 47, 0.4);
  }

  &::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;

    line-height: 129%;
    letter-spacing: -0.01em;
    color: rgba(47, 47, 47, 0.6);
  }
  @media screen and (min-width: 768px) {
    &::placeholder {
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.forgotInputError,
.forgotInputError:hover,
.forgotInputError:focus {
  border: 1px solid var(--error);
  color: var(--error);
}

.forgotErrorMessage {
  position: absolute;
  top: 75px;
  left: 0;
  text-align: center;
  color: var(--error);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  @media screen and (min-width: 768px) {
    top: 82px;
    font-size: 16px;
    @media screen and (min-width: 1440px) {
      top: 85px;
    }
  }
}

.forgotSendBtn {
  border-radius: 30px;
  padding: 16px 0px;
  width: 100%;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;

  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main);
  background-color: var(--accent);

  &:disabled {
    border: 1px solid var(--main);
    opacity: 0.2;
    background-color: transparent;
    color: var(--main);
    cursor: not-allowed;
    &:hover,
    &:focus {
      background-color: transparent;
      color: var(--main);
      cursor: not-allowed;
    }
  }

  &:hover,
  &:focus {
    background-color: var(--hover-green);
  }
  @media screen and (min-width: 768px) {
    padding: 18px 0px;
    font-size: 16px;
    line-height: 150%;
  }
  @media screen and (min-width: 768px) {
  }
}
