.calendaritem {
  font-family: inherit;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: #323f4733;
  color: #323f47;
}
@media (min-width: 768px) {
  .calendaritem {
    height: 38px;
    width: 38px;
  }
}
.filled {
  background-color: white;
  color: #323f47;
}

.currentDay {
  border: 1px solid #323f47;
  color: #323f47;
}

.choosenDay {
  background-color: #323f47;
  color: #9be1a0;
}

.percentage {
  font-size: 10px;
  line-height: 10px;
  color: #2f2f2f99;
}
@media (min-width: 768px) {
  .percentage {
    font-size: 12px;
    line-height: 22px;
    color: #2f2f2f99;
  }
}
